@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(143, 32%, 87%);
  --foreground: #171717;
  --primary: #007BFF;
  --secondary: #6C757D;
  --accent: #28A745;
  --navbar-bg: #F8F9FA;
  --navbar-text: #343A40;
  --hero-bg: hsl(143, 32%, 87%);
  --hero-text: #ffffff;
  --about-bg: #ffffff;
  --about-text: #171717;
  --portfolio-bg: #f0f0f0;
  --portfolio-text: #171717;
  --contact-bg: hsl(143, 34%, 70%);
  --contact-text: #171717;
  --text-primary: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #405c46;
    --foreground: #ededed;
    --primary: #1E90FF;
    --secondary: #A9A9A9;
    --accent: #32CD32;
    --navbar-bg: #1e3122;
    --navbar-text: #ededed;
    --hero-bg: #2b3d35;
    --hero-text: #ededed;
    --about-bg: #1f1f1f;
    --about-text: #ededed;
    --portfolio-bg: #2a2a2a;
    --portfolio-text: #ededed;
    --contact-bg: hsl(143, 28%, 16%);
    --contact-text: #ffffff;
    --text-primary: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* background-color: var(--hero-bg); */
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

p {
  font-weight: 700;
  color: black;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

html {
  overflow-y: scroll;
}

/* Add a container class to set the max width */
.container {
  max-width: 1600px;
  margin: 0 auto;

  @media (prefers-color-scheme: dark) {
    background-color: var(--hero-bg);
  }
}